table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 20px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

#corr_table {
  max-width: 100%;
  margin-left: 100px;
}

#import_button {
  width: 200px;
}

#price_table {
  float:left;
  margin-top: 50px;
}

#select_div {
  float:left;
  width: 20%;
  padding-left: 40px;
}
